.list-card {
  margin: auto;
  width: fit-content;
  min-width: 70%;
  min-height: 80vh;;
  text-align: center;
}

table {
  margin-top: 4px;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 400px;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

mat-checkbox {
  --mat-sys-body-medium-size: 10px;
}

.small-text {
  font-size: 12px;
}

.mat-mdc-form-field {
  margin-left: auto;
  font-size: 12px;
  width: 100%;
}

mat-label {
  font-size: 12px;
}

mat-card-header {
  display: block;
  justify-content: center;
  padding-bottom: 8px;
}
mat-card-actions {
  display: block;
  justify-content: center;
  padding-bottom: 16px;
}

.mat-mdc-header-row {
  background: #dddfd0;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f9faf4 !important;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  text-align: left;
}

.bottom-right {
  width: 100%;
  text-align: right;
  padding-right: 16px;
}

.bottom-right-left-align {
  width: 100%;
  text-align: left;
}

 mat-card-header {
  margin: 40px 0 40px 0;
}

.icon-cursor {
  cursor: pointer;
}
