<mat-grid-list cols="10" gutterSize="16px" rowHeight="76px">
  <!-- Title -->
  <mat-grid-tile colspan="7" rowspan="1">
    <h3 mat-dialog-title>{{'RECIPIENT.CARD_TITLE' | translate}}</h3>
  </mat-grid-tile>

  <!-- Spacer -->
  <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

  <!-- Close button -->
  <mat-grid-tile colspan="2" rowspan="1">
    <button data-cy="dlg-cancel" mat-icon-button [title]="'RECIPIENT.CARD_CLOSE' | translate"
      (click)="onCancelClick($event)">
      <mat-icon fontSet="material-icons-outlined">disabled_by_default</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content class="full-width">
  <mat-form-field>
    <mat-label>{{ 'RECIPIENT.CARD_LABEL_HOME' | translate }}</mat-label>
    <mat-select [formControl]="nursingHomeControl" (selectionChange)="onHomeSelected($event.value)">
      <mat-option></mat-option>
      @for (group of homeGroups; track group) {
      <mat-optgroup [label]="group.regionName">
        @for (home of group.homes; track home.id) {
        <mat-option [value]="home.id">{{home.homeName}}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
  @if(seniors.length===0 && nursingHomeControl.value){
  <p>{{ "RECIPIENT.TABLE_EMPTY" | translate }}</p>
  }
  <mat-selection-list #recipients>
    @for (senior of seniors; track senior.id) {
    <mat-list-option [value]="senior.id">{{senior.fullData}}</mat-list-option>
    }
  </mat-selection-list>

</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions>
  <button mat-raised-button data-cy="dlg-create" class="dialog-submit-button"
    [disabled]="!nursingHomeControl.value || isLoading || !recipients.selectedOptions.selected.length || !seniors.length"
    (click)="onCreateRecipientsClick(recipients.selectedOptions.selected)"
    *hasOp="{codes:['ADD_NEW_RECIPIENT'], mode:'all'}">
    {{'RECIPIENT.CARD_SAVE_AND_EXIT' | translate}}
  </button>
</mat-dialog-actions>
