table {
  margin-top: 4px;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 400px;
}

/* td , th {
  white-space: normal;
  max-width: fit-content;
} */

.mat-footer-row,
.mat-header-row,
.mat-row {
  display: inline-flex;
  min-width: 100%;
}

.mat-mdc-header-row {
  /* background: #66bb6a8a; */
  background: #dddfd0;
}

.outer {
  display: flex;
  margin: 6px 0;
}

.inner-left {
  margin: 0 6px 0 0;
}

.inner-right {
  margin: 0 0 0 0;
}

.center {
  width: 100%;
  text-align: center;
}

.icon-cursor {
  cursor: pointer;
}

.outdated-data {
  color: #7d7d7d;
  font-style: italic;
  font-size: 0.9em;
  display: block;
  margin-left: 10px;
}


