mat-form-field {
  width: 100%;
}

/*  .extra {
  width: 80%;
} */

.mat-grid-list {
  margin-top: 32px;
}/*
.fixed-labels {
  position: fixed;
}
 */

 app-address-filter{
  width: 100%;
 }

 .view-mode
  ::ng-deep.mdc-text-field--filled.mdc-text-field--disabled
  .mdc-text-field__input {
  color: #191c19;
}

.view-mode
  ::ng-deep
  .mdc-text-field--filled.mdc-text-field--disabled
  .mdc-floating-label {
  color: #191c19 !important;
}

.view-mode
  ::ng-deep
.mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
  color: #191c19 !important;
}

.view-mode ::ng-deep .mat-mdc-select-arrow svg {
  fill: #ffffff;
}

.view-mode ::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
  background-color: #ffffff !important;
}

.view-mode
::ng-deep.mat-mdc-select-disabled {
  color: #191c19;
}

.password {
  margin-bottom: 20px;
}

/*  .mat-mdc-fab {
  background-color: 	#75bf41aa !important;
}

.mat-mdc-fab-base[disabled], .mat-mdc-fab-base.mat-mdc-button-disabled {
  background-color: #bcccbd !important;
}
 */

 ::ng-deep .custom-confirm-dialog {
  width: 500px !important;
  max-width: 90vw;
}


