<p-confirmdialog  [style]="{width: '500px'}"/>
<p-toast position="center" />

<form [formGroup]="mainForm" [class]="data().operation == 'view-edit' && !isEditModeSignal() ? 'view-mode' : 'none'"
  (change)="onChangeValidation()">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Основные сведения">
      <mat-grid-list cols="6" gutterSize="16px" rowHeight="76px">
        @for (control of data().controls; track $index) {

        @if (control.category=='mainData') {
        @if(control.type=='inputText') {
        <mat-grid-tile [colspan]="control.colspan" [rowspan]="control.rowspan">
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <input type="text" matInput [formControlName]="control.controlName" [placeholder]="control.placeholder!" />
            @if (mainForm.controls[control.controlName].hasError('required')) {
            <mat-error class="error">Поле не может быть пустым</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>
        }
        @if(control.type=='inputPassword') {

        <mat-grid-tile [colspan]="control.colspan" [rowspan]="control.rowspan">
          @if(data().operation == 'create') {
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <input type="password" matInput [formControlName]="control.controlName" />
            @if (mainForm.controls[control.controlName].hasError('required')) {
            <mat-error class="error">Поле не может быть пустым</mat-error>
            }
            @if (mainForm.controls[control.controlName].hasError('pattern')) {
            <mat-error class="error">Пароль должен содержать минимум 8 символов, включая латинские буквы и
              цифры!</mat-error>}
          </mat-form-field>
          }
          @else {
          <button class = 'password' mat-button [disabled]="data().operation == 'view-edit' && !isEditModeSignal()">
            <mat-icon>edit</mat-icon>
            Изменить пароль</button>
          }

        </mat-grid-tile>

        }


        @if(control.type=='select') {
        <mat-grid-tile [colspan]="control.colspan" [rowspan]="control.rowspan">
          <mat-form-field>
            <mat-label>{{control.label}}</mat-label>
            <mat-select [formControlName]="control.controlName">
              @for (role of roles; track $index) {
              <mat-option [value]="role.id">{{ role.name }}</mat-option>}
            </mat-select>
            @if (mainForm.controls[control.controlName].hasError('required')) {
            <mat-error class="error">Поле не может быть пустым</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>
        }
        }
        }

        <mat-grid-tile colspan="6" rowspan="2">
          <app-address-filter [params]="params" [defaultAddressParams]="data().defaultAddressParams!"
            (addressFilter)="onChangeAddress($event)"></app-address-filter>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1">
          <mat-slide-toggle formControlName="isRestricted" (change)="onRestrictedToggleClick()">Заблокирован</mat-slide-toggle>
        </mat-grid-tile>

     @if (mainForm.controls['isRestricted'].value) {
        <mat-grid-tile colspan="6" rowspan="1">
          <mat-form-field>
            <mat-label>Причина</mat-label>
            <input type="text" matInput formControlName="causeOfRestriction" placeholder="прекращение волонтерства" />
            @if (mainForm.controls['causeOfRestriction'].hasError('required')) {
            <mat-error class="error">Поле не может быть пустым</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile> }
      </mat-grid-list>
    </mat-tab>

    <mat-tab label="Контактные данные">
      <mat-grid-list cols="6" gutterSize="16px" rowHeight="76px">
        @for (control of data().controls; track $index) {
        @if (control.category=='contacts') {
        <ng-container [formArrayName]="control.controlName">
          @for (item of getFormArray(control.controlName).controls; track $index; let j = $index) {
          <mat-grid-tile [colspan]="control.colspan" [rowspan]="control.rowspan">
            <mat-form-field>
              <mat-label>{{control.label}}</mat-label>
              <input type="text" matInput [formControlName]="j" [placeholder]="control.placeholder!" />
              @if (j>0 && (data().operation == 'view-edit' && isEditModeSignal() || data().operation == 'create')) {
              <button matSuffix mat-icon-button title="Удалить поле"
                (click)="deleteContactControl(j, control.controlName) ">
                <mat-icon>delete_outlined</mat-icon>
              </button>
              }


              @if (getFormArray(control.controlName).controls[j].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
              @if (getFormArray(control.controlName).controls[j].hasError('pattern')) {
              <mat-error class="error">Неверный формат</mat-error>}
            </mat-form-field>
          </mat-grid-tile>
          }
        </ng-container>
        }
        }

        <mat-grid-tile colspan="3" rowspan="1">
          <button mat-button [matMenuTriggerFor]="menu" [disabled]="mainForm.hasError('mainContacts')"
            (click)="modifyContactTypesList()">Дополнительный
            контакт</button>
          <mat-menu #menu="matMenu">
            @for (item of availableContactTypes; track $index) {
            <button mat-menu-item (click)="onTypeClick($index)">{{item}}</button>
            }
          </mat-menu>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

    @if (data().operation == 'view-edit') {
    <mat-tab label="Неактуальные данные">
    </mat-tab>
    }

  </mat-tab-group>
</form>
