.statistic-card {
  margin: auto;
  width: fit-content;
  min-width: 70%;
  min-height: 80vh;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.left-bordered {
  border-left: 1px solid #575a5d;
}

.narrow {
  width: 10rem;
}
