<h2 mat-dialog-title>Новый населенный пункт</h2>
<p-confirmdialog />
<p-toast position="center" />
<mat-dialog-content class="full-width">
  <app-address-filter [params]="{multiple: false, cols: '1', gutterSize: '16px', rowHeight: '76px', type: data.type}"
    [defaultAddressParams]="defaultAddressParams" (addressFilter)="onChangeAddressFilter($event)">
  </app-address-filter>
  <form [formGroup]="mainData">
    <mat-grid-list cols="1" gutterSize="16px" rowHeight="76px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Название</mat-label>
          <input class="full-width" matInput formControlName="toponymName" [placeholder]="toponymNamePlaceholder">
          @if (mainData.controls['toponymName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Краткое название</mat-label>
          <input class="full-width" matInput formControlName="toponymShortName"
            [placeholder]="toponymShortNamePlaceholder">
          @if (mainData.controls['toponymShortName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>

      @if (data.type == 'district') {
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Почтовое название</mat-label>
          <input class="full-width" matInput formControlName="toponymName" [placeholder]="toponymPostNamePlaceholder">
          @if (mainData.controls['toponymPostName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Краткое почтовое название</mat-label>
          <input class="full-width" matInput formControlName="toponymShortName"
            [placeholder]="toponymShortPostNamePlaceholder">
          @if (mainData.controls['toponymShortPostName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      }

    </mat-grid-list>
    <mat-grid-list cols="1" gutterSize="16px" rowHeight="36px">
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="federalCity">город федерального значения</mat-checkbox>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="capitalOfRegion">столица региона</mat-checkbox>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="capitalOfDistrict">административный центр</mat-checkbox>
        </p>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="dialog-cancel-button" mat-button (click)="onCancelClick($event)">Отменить</button>
  <button class="dialog-submit-button" mat-button
    [disabled]="mainData.controls['toponymName'].hasError('required') || mainData.controls['toponymShortName'].hasError('required') || invalidAddressFilter"
    (click)="onCreateToponymClick()">Сохранить</button>
</mat-dialog-actions>
