<p-accordion value="1">
  <p-accordion-panel value="0">
    <button mat-icon-button [title]="'BASE_LIST.RESET_FILTER' | translate" (click)="clearFilter()"
      [disabled]="emptyFilter">
      <mat-icon>filter_alt_off</mat-icon>
    </button>
    <p-accordion-header>
      {{'ORDER.CARD.FILTERS.HEADER' | translate}}</p-accordion-header>

    <p-accordion-content>
      <form [formGroup]="filterForm()">
        <mat-grid-list cols="10" gutterSize="1px" rowHeight="46px">

          <mat-grid-tile colspan="5" rowspan="6" class="left">
            <div style=" display: flex; flex-direction: column;">
              <label>{{'ORDER.CARD.FILTERS.ADDRESS_LABEL' | translate}}</label>
              <mat-radio-group formControlName="addressCategory">
                @for(option of ADDRESS_FILTER; track option.id){
                <mat-radio-button [value]="option.id" (change)="correctMaxNoAddress(option.id)"
                  style=" display: flex; flex-direction: column;">
                  {{option.optionKey | translate}}
                </mat-radio-button>
                }
              </mat-radio-group>
            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="4" class="left">
            <div style="width: 100%; display: flex; flex-direction: column;">
              <p matTooltipPosition="above" [matTooltip]="translateService.instant('ORDER.CARD.FILTERS.DATE_TOOLTIP')">
                {{'ORDER.CARD.FILTERS.DATE_LABEL' | translate}}</p>

              <div style="width: 100%;">
                <mat-form-field style="width: 40%; margin-right: 12px;" appearance="outline">
                  <mat-label>{{'ORDER.CARD.FILTERS.FROM_LABEL' | translate}}</mat-label>
                  <input matInput type="number" formControlName="date1" placeholder="6" />
                </mat-form-field>

                <mat-form-field style="width: 40%; " appearance="outline">
                  <mat-label>{{'ORDER.CARD.FILTERS.TO_LABEL' | translate}}</mat-label>
                  <input matInput type="number" formControlName="date2" placeholder="15" />
                </mat-form-field>
              </div>

              @if((filterForm().controls['date1'].hasError('zodError') && filterForm().controls['date1'].touched) ||
              (filterForm().controls['date2'].hasError('zodError') && filterForm().controls['date2'].touched)){
              <mat-error>
                {{'FORM_VALIDATION.ORDER.WRONG_DAY' | translate}}
              </mat-error>
              } @else if (filterForm().hasError('invalidDateRange')) {
              <mat-error>
                {{'FORM_VALIDATION.ORDER.DATE_FROM_GREATER_THAN_TO' | translate}}
              </mat-error>
              }
            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="4" class="left">
            <div style="width: 100%;  display: flex; flex-direction: column;">
              <p matTooltipPosition="above" [matTooltip]="translateService.instant('ORDER.CARD.FILTERS.YEAR_TOOLTIP')">
                {{'ORDER.CARD.FILTERS.YEAR_LABEL' | translate}}</p>

              <div style="width: 100%;">
                <mat-form-field style="width: 40%; margin-right: 12px;" appearance="outline">
                  <mat-label>{{'ORDER.CARD.FILTERS.FROM_LABEL' | translate}}</mat-label>
                  <input matInput type="number" formControlName="year1" placeholder="1935" />
                </mat-form-field>

                <mat-form-field style="width: 40%; " appearance="outline">
                  <mat-label>{{'ORDER.CARD.FILTERS.TO_LABEL' | translate}}</mat-label>
                  <input matInput type="number" formControlName="year2" placeholder="1981" />
                </mat-form-field>
              </div>

              @if((filterForm().controls['year1'].hasError('zodError') && filterForm().controls['year1'].touched) ||
              (filterForm().controls['year2'].hasError('zodError') && filterForm().controls['year2'].touched)){
              <mat-error>
                {{'FORM_VALIDATION.ORDER.WRONG_YEAR' | translate}}
              </mat-error>
              } @else if(filterForm().hasError('invalidYearRange')){
              <mat-error>
                {{'FORM_VALIDATION.ORDER.YEAR_FROM_GREATER_THAN_TO' | translate}}
              </mat-error>
              }
            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="7" class="left">
            <div style=" display: flex; flex-direction: column;">
              <label>Пол</label>
              <mat-radio-group formControlName="gender" style=" display: flex; flex-direction: column;">
                @for(option of GENDER_FILTER; track option.id){
                <mat-radio-button [value]="option.id" (change)="correctProportion(option.id)">
                  {{option.optionKey | translate}}
                </mat-radio-button>
                }

                @if(filterForm().controls['gender'].value===4){
                <div>
                  <mat-form-field style="width: 40%; margin-right: 12px;" appearance="outline">
                    <mat-label>{{'ORDER.CARD.FILTERS.FEMALE_LABEL' | translate}}</mat-label>
                    <input matInput type="number" formControlName="femaleAmount" placeholder="1" />
                  </mat-form-field>

                  <mat-form-field style="width: 40%;" appearance="outline">
                    <mat-label>{{'ORDER.CARD.FILTERS.MALE_LABEL' | translate}}</mat-label>
                    <input matInput type="number" formControlName="maleAmount" placeholder="1" />
                  </mat-form-field>
                  @if((filterForm().controls['femaleAmount'].hasError('zodError') &&
                  filterForm().controls['femaleAmount'].touched) ||
                  (filterForm().controls['maleAmount'].hasError('zodError')&&
                  filterForm().controls['femaleAmount'].touched)){
                  <mat-error>
                    {{'FORM_VALIDATION.ORDER.INT_MIN_1' | translate}}
                  </mat-error>
                  } @else if (filterForm().hasError('genderAmountSum')) {
                  <mat-error>
                    {{'FORM_VALIDATION.ORDER.WRONG_SUM' | translate}}
                  </mat-error>
                  }
                </div>
                }
              </mat-radio-group>

            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="5" rowspan="4" class="left">
            <div style="width: 100%;  display: flex; flex-direction: column;">
              <p matTooltipPosition="above" [matTooltip]="translateService.instant('ORDER.CARD.FILTERS.PLACE_TOOLTIP')">
                {{'ORDER.CARD.FILTERS.REGION_LABEL' | translate}}
              </p>

              <mat-form-field appearance="outline">
                <mat-select formControlName="regions" multiple>
                  <!-- <mat-option></mat-option> -->
                  @for(region of regions; track region.id){
                  <mat-option [value]="region.id">
                    {{ region.name }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-checkbox formControlName="addSpareRegions">
                {{'ORDER.CARD.FILTERS.ADD_SPARE_REGIONS_LABEL' | translate}}
              </mat-checkbox>

            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="5" rowspan="4" class="left">
            <div style="width: 100%;  display: flex; flex-direction: column;">
              <p matTooltipPosition="above" [matTooltip]="translateService.instant('ORDER.CARD.FILTERS.PLACE_TOOLTIP')">
                {{'ORDER.CARD.FILTERS.HOME_LABEL' | translate}}
              </p>

              <mat-form-field appearance="outline">
                <mat-select formControlName="homes" multiple>
                  <!-- <mat-option></mat-option> -->
                  @for(home of filteredHomes; track home.id){
                  <mat-option [value]="home.id">
                    {{ home.name }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="1" class="left">
            <mat-slide-toggle formControlName="onlyWithPicture" class="small-toggle">
              {{'ORDER.CARD.FILTERS.ONLY_PHOTO_LABEL' | translate}}</mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile colspan="5" rowspan="2" class="left">
            <div style=" display: flex; flex-direction: column;">
              <mat-slide-toggle formControlName="onlyAnniversaries" class="small-toggle"
                (change)="onSlideToggleChange('onlyAnniversaries')" style="margin-bottom: 4px;">
                {{'ORDER.CARD.FILTERS.ONLY_ANNIVERSARY_LABEL' | translate}}</mat-slide-toggle>
              <mat-slide-toggle formControlName="onlyAnniversariesAndOldest" class="small-toggle"
                (change)="onSlideToggleChange('onlyAnniversariesAndOldest')">
                {{'ORDER.CARD.FILTERS.ONLY_OLDEST' | translate}}</mat-slide-toggle>
            </div>
          </mat-grid-tile>


          <mat-grid-tile colspan="5" rowspan="1" class="left">
            <mat-slide-toggle formControlName="onlyWithConcents" class="small-toggle"
              (change)="onSlideToggleChange('onlyWithConcents')">
              {{'ORDER.CARD.FILTERS.ONLY_CONCENT' | translate}}</mat-slide-toggle>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="2" class="left">
            <mat-form-field style="width: 32%; margin-right: 12px;" appearance="outline">
              <mat-label>{{'ORDER.CARD.FILTERS.MAX_NO_ADDRESS_LABEL' | translate}}</mat-label>
              <input matInput type="number" formControlName="maxNoAddress" placeholder="1" />
            </mat-form-field>
            <mat-form-field style="width: 32%; margin-right: 12px;" appearance="outline">
              <mat-label>{{'ORDER.CARD.FILTERS.MIN_ONE_HOME_LABEL' | translate}}</mat-label>
              <input matInput type="number" formControlName="minFromOneHouse" placeholder="1" />
            </mat-form-field>
            <mat-form-field style="width: 33%;" appearance="outline">
              <mat-label>{{'ORDER.CARD.FILTERS.MAX_ONE_HOME_LABEL' | translate}}</mat-label>
              <input matInput type="number" formControlName="maxFromOneHouse" placeholder="1" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="3" class="left">
          </mat-grid-tile>

          <mat-grid-tile colspan="5" rowspan="1" class="left">
            @if((filterForm().controls['maxNoAddress'].hasError('zodError') &&
            filterForm().controls['maxNoAddress'].touched) ||
            (filterForm().controls['minFromOneHouse'].hasError('zodError') &&
            filterForm().controls['minFromOneHouse'].touched) ||
            (filterForm().controls['maxFromOneHouse'].hasError('zodError') &&
            filterForm().controls['maxFromOneHouse'].touched)){
            <mat-error>
              {{'FORM_VALIDATION.ORDER.INT_MIN_1' | translate}}
            </mat-error>
            } @else {
            @if (filterForm().hasError('maxNoAddressTooBig')) {
            <mat-error>{{'FORM_VALIDATION.ORDER.WRONG_NO_ADDRESS' | translate}}</mat-error>
            }

            @if (filterForm().hasError('minFromOneHouseTooBig')) {
            <mat-error>{{'FORM_VALIDATION.ORDER.WRONG_MIN' | translate}}</mat-error>
            }

            @if (filterForm().hasError('maxFromOneHouseTooBig')) {
            <mat-error>{{'FORM_VALIDATION.ORDER.WRONG_MAX' | translate}}</mat-error>
            }

            @if (filterForm().hasError('minGreaterThanMax')) {
            <mat-error>{{'FORM_VALIDATION.ORDER.MIN_GRATE_THAN_MAX' | translate}}</mat-error>
            }

            @if (filterForm().hasError('impossibleHouseDistribution')) {
            <mat-error>{{'FORM_VALIDATION.ORDER.WRONG_PROPORTION' | translate}}</mat-error>
            }
            }


          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
