<mat-grid-list cols="10" gutterSize="16px" rowHeight="76px">
  <!-- Title -->
  <mat-grid-tile colspan="5" rowspan="1">
    <h3 mat-dialog-title>{{'ROLE.CARD_TITLE' | translate}}</h3>
  </mat-grid-tile>

  <!-- Spacer -->
  <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>

  <!-- Close button -->
  <mat-grid-tile colspan="2" rowspan="1">
    <button data-cy="dlg-cancel" mat-icon-button [title]="'ROLE.CARD_CLOSE' | translate" (click)="onCancelClick($event)">
      <mat-icon fontSet="material-icons-outlined">disabled_by_default</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content class="full-width">
  <form>
    <!-- Role name -->
    <mat-form-field class="full-width">
      <mat-label>{{'ROLE.CARD_LABEL_NAME' | translate}}</mat-label>
      <input data-cy="dlg-role-name" matInput [formControl]="roleName" />

      @if(roleName.hasError('zodError')){
      <mat-error>{{roleName.errors!['zodError'] | translate}}</mat-error>
      }
    </mat-form-field>

    <!-- Role description -->
    <mat-form-field class="full-width">
      <mat-label>{{'ROLE.CARD_LABEL_DESCRIPTION' | translate}}</mat-label>
      <textarea data-cy="dlg-role-desc" rows="5" matInput [formControl]="roleDescription"></textarea>

      @if(roleDescription.hasError('zodError')){
      <mat-error>{{roleDescription.errors!['zodError'] | translate }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions>
  <button data-cy="dlg-create" class="dialog-submit-button" mat-button [disabled]="!roleName.valid || !roleDescription.valid || isLoading"
    (click)="onCreateRoleClick()">
    {{'ROLE.CARD_SAVE_AND_EXIT' | translate}}
  </button>
</mat-dialog-actions>
