<p-confirmdialog />
<p-toast position="center" />

<app-address-filter [params]="params" [defaultAddressParams]="data().defaultAddressParams"
  (addressFilter)="onChangeAddressFilter($event)">
</app-address-filter>
<form [formGroup]="mainForm" style="margin-top: 16px;"
  [class]="data().operation == 'view-edit' && !isEditMode ? 'view-mode' : 'none'" (change)="onChangeValidation()">
  <mat-grid-list cols="1" gutterSize="16px" rowHeight="76px">
    @for (control of data().controls; track $index) {
    @if (control.type=="inputText") {
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field class="full-width">
        <mat-label>{{control.label}}</mat-label>
        <input class="full-width" matInput [formControlName]="control.controlName" [placeholder]="control.placeholder!">
        @if (mainForm.controls[control.controlName].hasError('required')) {
        <mat-error>Поле не может быть пустым!</mat-error>
        }
      </mat-form-field>
    </mat-grid-tile>
    }
    }
  </mat-grid-list>
  <mat-grid-list cols="9" gutterSize="16px" rowHeight="36px">

    @for (control of data().controls; track $index) {
    @if (control.type=="checkbox") {
    <mat-grid-tile colspan="6" rowspan="1">
      <p class="full-width">
        <mat-checkbox [formControlName]="control.controlName"
          (change)="onChangeValidation()">{{control.label}}</mat-checkbox>
      </p>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
    }
    }
  </mat-grid-list>
</form>
