

<mat-grid-list cols="18" gutterSize="16px" rowHeight="76px">
  <mat-grid-tile colspan="11" rowspan="1">
    <h3 mat-dialog-title>{{title}}</h3>
  </mat-grid-tile>
  <mat-dialog-actions>
    <mat-grid-tile colspan="2" rowspan="1">

      @if (data.operation == 'view-edit' && isEditMode) {
      <button mat-icon-button title="Сохранить"
        [disabled]="!mainForm.valid"
        (click)="onSaveClick('justSave')">
        <mat-icon fontSet="material-icons-outlined">save</mat-icon>
      </button>
      }
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      @if (data.operation == 'view-edit' && !isEditMode) {
      <button mat-icon-button title="Изменить" (click)="onEditClick()">
        <mat-icon fontSet="material-icons-outlined">edit_square</mat-icon>
      </button>
      }
      @if (data.operation == 'view-edit' && isEditMode) {
      <button mat-icon-button title="К просмотру" (click)="onViewClick()">
        <mat-icon fontSet="material-icons-outlined">find_in_page</mat-icon>
      </button>
      }
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button mat-icon-button title="Закрыть" (click)="onCancelClick($event)">
        <mat-icon fontSet="material-icons-outlined">disabled_by_default</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>
  </mat-dialog-actions>
</mat-grid-list>

<p-confirmdialog />
<p-toast position="center" />
<form [formGroup]="mainForm">
  <mat-dialog-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Основные сведения">
        <mat-grid-list cols="6" gutterSize="16px" rowHeight="76px">
          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Имя пользователя*</mat-label>
              <input type="text" matInput formControlName="userName" placeholder="a.petrova" />
              @if (mainForm.controls['userName'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Пароль*</mat-label>
              <input type="password" matInput formControlName="password" />
              @if (mainForm.controls['password'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
              @if (mainForm.controls['password'].hasError('pattern')) {
              <mat-error class="error">Пароль должен содержать минимум 8 символов, включая латинские буквы и
                цифры!</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Роль*</mat-label>
              <mat-select formControlName="role">
                @for (role of roles; track $index) {
                <mat-option [value]="role.id">{{ role.name }}</mat-option>}
              </mat-select>
              @if (mainForm.controls['role'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Имя*</mat-label>
              <input type="text" matInput formControlName="firstName" />
              @if (mainForm.controls['firstName'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Отчество</mat-label>
              <input type="text" matInput formControlName="patronymic" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2" rowspan="1">
            <mat-form-field>
              <mat-label>Фамилия*</mat-label>
              <input type="text" matInput formControlName="lastName" />
              @if (mainForm.controls['lastName'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="6" rowspan="2">
              <app-address-filter
                [params]="params"
                [defaultAddressParams] = "defaultAddressParams"
                (addressFilter)="addressFilter.set($event)"></app-address-filter>
          </mat-grid-tile>

          <mat-grid-tile colspan="6" rowspan="1">
            <mat-form-field>
              <input type="text" matInput formControlName="comment" placeholder="Комментарий" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="6" rowspan="1">
            <mat-slide-toggle formControlName="isRestricted"
              (change)="  addIfRestricted()">Заблокирован</mat-slide-toggle>
          </mat-grid-tile>
          @if (mainForm.controls['isRestricted'].value) {
          <mat-grid-tile colspan="6" rowspan="1">
            <mat-form-field>
              <input type="text" matInput formControlName="causeOfRestriction" placeholder="Причина*" />
              @if (mainForm.controls['causeOfRestriction'].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>
          }

        </mat-grid-list>
      </mat-tab>

      <mat-tab label="Контактные данные">
        <mat-grid-list cols="6" gutterSize="16px" rowHeight="76px">
          @for (item of contactTypes; track $index) {
          <mat-grid-tile colspan="3" rowspan="1">
            <mat-form-field>
              <mat-label>{{(item.label == 'Email' || item.label == 'Номер телефона' || item.label ==
                'Телеграм ID' || item.label == 'Телеграм номер телефона') ? item.label + '*' : item.label}}</mat-label>
              <!-- <span matTextPrefix>{{item.prefix}}</span> -->
              <input type="text" matInput [formControlName]="item.type" [placeholder]="item.placeholder" />
              @if (mainForm.controls[item.type].hasError('required')) {
              <mat-error class="error">Поле не может быть пустым</mat-error>
              }
              @if (item.errorName && mainForm.controls[item.type].hasError(item.errorName)) {
              <mat-error class="error">Неверный формат</mat-error>
              }
            </mat-form-field>
          </mat-grid-tile>
          }
          <ng-container formArrayName="extraContacts">
            @for (item of extraContacts.controls; track $index; let i = $index) {
            <ng-container [formGroupName]="i">
              <mat-grid-tile colspan="3" rowspan="1">
                <mat-form-field class="extra">
                  <mat-label>{{availableContactTypes[item.get('chosenIndex')?.value].label}}*</mat-label>
                  <input type="text" matInput formControlName="contact"
                    [placeholder]="availableContactTypes[item.get('chosenIndex')?.value].placeholder" />
                  <button matSuffix mat-icon-button title="Удалить поле" (click)="deleteContactControl(i) ">
                    <mat-icon>delete_outlined</mat-icon>
                  </button>
                  @if (item.get('contact')?.hasError('required')) {
                  <mat-error class="error">Поле не может быть пустым</mat-error>
                  }
                  @if (availableContactTypes[item.get('chosenIndex')?.value].errorName &&
                  item.get('contact')?.hasError(availableContactTypes[item.get('chosenIndex')?.value].errorName)) {
                  <mat-error class="error">Неверный формат</mat-error>
                  }
                </mat-form-field>
              </mat-grid-tile>
            </ng-container>
            }
          </ng-container>

          <mat-grid-tile colspan="3" rowspan="1">
            <button mat-button [matMenuTriggerFor]="menu" [disabled]="mainForm.hasError('mainContacts')"
              (click)="modifyContactTypesList()">Дополнительный
              контакт</button>
            <mat-menu #menu="matMenu">
              @for (item of availableContactTypes; track $index) {
              <button mat-menu-item (click)="onTypeClick($index)">{{item.label}}</button>
              }
            </mat-menu>
          </mat-grid-tile>


        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <br />
  <mat-dialog-actions align="end">
    <button class="dialog-cancel-button" mat-button (click)="onCancelClick($event)">Отменить</button>
    <button mat-button [disabled]="!mainForm.valid" (click)="onSaveClick('saveAndExit')">Сохранить</button>
    <!-- [mat-dialog-close]="true" -->
  </mat-dialog-actions>

</form>

