.header-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Center card with responsive width */
.occasions-list-card {
  margin: auto;
  width: fit-content;
  min-width: 70%;
  text-align: center;
}

:host ::ng-deep .active-filter .p-button-text.p-button-secondary {
  background: #00000000;
  border-color: #00000000;
  color: #10b981;
}

.center {
  width: 100%;
  text-align: center;
}
