.mat-mdc-form-field {
  margin-left: auto;
  font-size: 12px;
  width: 100%;
}

mat-label {
  font-size: 12px;
}
mat-grid-list {
  width: 100%;
}

/* .mat-grid-tile-content {
  width: 100%;

}
.mat-grid-tile {
  display: block;
} */

.view-mode
::ng-deep.mat-mdc-select-disabled {
  color: #191c19;
}
.view-mode
  ::ng-deep
    .mdc-text-field--filled.mdc-text-field--disabled
    .mdc-floating-label {
    color: #191c19 !important;
  }

.view-mode
  ::ng-deep .mat-mdc-select-arrow svg {
    fill: #ffffff;
  }

.view-mode
  ::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
    background-color: #ffffff !important;
  }

