@if (!params().multiple) {
<!-- toponyms-list -- create-user-dialog -->
<mat-grid-list [cols]="params().cols" [gutterSize]="params().gutterSize" [rowHeight]="params().rowHeight">
  <form [formGroup]="form">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Страна</mat-label>
        <mat-select formControlName="country" (selectionChange)="onCountrySelectionChange()">
          <mat-option></mat-option>
          @for (country of toponyms.countriesList; track $index ) {
          <mat-option [value]="country.id">{{country.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Регион</mat-label>
        <mat-select formControlName="region" (selectionChange)="onRegionSelectionChange()">
          <mat-option></mat-option>
          @for (region of toponyms.regionsList; track $index) {
          <mat-option [value]="region.id">{{region.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Район/округ</mat-label>
        <mat-select formControlName="district" (selectionChange)="onDistrictSelectionChange()">
          <mat-option></mat-option>
          @for (district of toponyms.districtsList; track $index) {
          <mat-option [value]="district.id">{{district.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    @if(params().type != 'locality'){
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Населенный пункт</mat-label>
        <mat-select formControlName="locality" (selectionChange)="onLocalitySelectionChange()">
          <mat-option></mat-option>
          @for (locality of toponyms.localitiesList; track $index) {
          <mat-option [value]="locality.id">{{locality.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    }
  </form>
</mat-grid-list>
}



<!-- create-user-dialog -->
<!-- <form [formGroup]="form">
<mat-grid-tile colspan="3" rowspan="1">
  <mat-form-field>
    <mat-label>Страна</mat-label>
    <mat-select formControlName="country" (selectionChange)="onCountrySelectionChange()">
      <mat-option></mat-option>
      @for (country of countriesList; track $index) {
      <mat-option [value]="country.id">
        {{ country.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile colspan="3" rowspan="1">
  <mat-form-field>
    <mat-label>Регион</mat-label>
    <mat-select formControlName="region" (selectionChange)="onRegionSelectionChange()">
      <mat-option></mat-option>
      @for (region of regionsList; track $index) {
      <mat-option [value]="region.id">
        {{ region.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile colspan="3" rowspan="1">
  <mat-form-field>
    <mat-label>Округ/район</mat-label>
    <mat-select formControlName="district" (selectionChange)="onDistrictSelectionChange()">
      <mat-option></mat-option>
      @for (district of districtsList; track $index) {
      <mat-option [value]="district.id">
        {{ district.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-grid-tile>

<mat-grid-tile colspan="3" rowspan="1">
  <mat-form-field>
    <mat-label>Населенный пункт</mat-label>
    <mat-select formControlName="locality" (selectionChange)="onLocalitySelectionChange()">
      <mat-option></mat-option>
      @for (locality of localitiesList; track $index) {
      <mat-option [value]="locality.id">
        {{ locality.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-grid-tile>
</form> -->

@if (params().multiple) {
<!-- table-filter -->
<mat-grid-list [cols]="params().cols" [gutterSize]="params().gutterSize" [rowHeight]="params().rowHeight">
  <form [formGroup]="form">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Страна</mat-label>
        <mat-select formControlName="country" multiple (selectionChange)="onCountrySelectionChange()">
          @for (country of toponyms.countriesList; track $index ) {
          <mat-option [value]="country.id">{{country.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Регион</mat-label>
        <mat-select formControlName="region" multiple (selectionChange)="onRegionSelectionChange()">
          @for (region of toponyms.regionsList; track $index) {
          <mat-option [value]="region.id">{{region.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Район/округ</mat-label>
        <mat-select formControlName="district" multiple (selectionChange)="onDistrictSelectionChange()">
          @for (district of toponyms.districtsList; track $index) {
          <mat-option [value]="district.id">{{district.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-label>Населенный пункт</mat-label>
        <mat-select formControlName="locality" multiple (selectionChange)="onLocalitySelectionChange()">
          @for (locality of toponyms.localitiesList; track $index) {
          <mat-option [value]="locality.id">{{locality.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </form>
</mat-grid-list>
}
