<app-address-filter [params]="params" [defaultAddressParams]="data().defaultAddressParams!"
  (addressFilter)="onChangeAddress($event)" (showSpinner)="emitShowSpinner($event)">
</app-address-filter>

<form [formGroup]="mainForm" style="margin-top: 16px;"
  [class]="data().operation == 'view-edit' && !isEditModeSignal() ? 'view-mode' : 'none'"
  (change)="onChangeValidation()">

  <mat-grid-list cols="1" gutterSize="16px" rowHeight="76px">
    @for (control of data().controls; track $index) {
    @if (control.type=="inputText") {
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field class="full-width">
        <mat-label>{{control.label | translate}}</mat-label>
        <input class="full-width" matInput [formControlName]="control.controlName | translate"
          [placeholder]="control.placeholder! | translate">
        @if(mainForm.controls[control.controlName].hasError('zodError')){
        <mat-error>{{mainForm.controls[control.controlName].errors!['zodError'] | translate}}</mat-error>
        }
      </mat-form-field>
    </mat-grid-tile>
    }
    }
  </mat-grid-list>

  <mat-grid-list cols="9" gutterSize="16px" rowHeight="36px">
    @for (control of data().controls; track $index) {
    @if (control.type=="checkbox") {
    <mat-grid-tile colspan="6" rowspan="1">
      <p class="full-width">
        <mat-checkbox [formControlName]="control.controlName | translate"
          (change)="onChangeValidation()">{{control.label | translate}}</mat-checkbox>
      </p>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
    }
    }
  </mat-grid-list>

</form>
