<div class="main">
  <mat-card appearance="outlined" class="sign-in-card">
    <mat-card-header>
      <mat-card-title>Вход</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (errorMessage) {
      <mat-error class="error">{{ errorMessage }}</mat-error>
      }
      <form [formGroup]="form" (ngSubmit)="onSubmit(); form.reset()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label for="txtUserName">Имя пользователя</mat-label>
            <input type="text" matInput [formControl]="form.controls.userName" name="txtUserName" />
            @if (form.controls.userName.hasError('required') && form.controls.userName.touched) {
            <mat-error class="error">Вам необходимо ввести имя пользователя.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label for="pswdPassword">Пароль</mat-label>
            <input type="password" matInput [formControl]="form.controls.password" name="pswdPassword" />
            @if (form.controls.password.hasError('required') && form.controls.password.touched) {
            <mat-error class="error">Вам необходимо ввести пароль.</mat-error>
            }
          </mat-form-field>
        </mat-card-content>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!form.valid" (click)="onSubmit()">Войти</button>
    </mat-card-actions>
  </mat-card>
</div>
