<!--   ToastModule notifications centered on the page -->
<p-toast position="center">
  <ng-template let-msg pTemplate="message">
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ msg.summary }}</div>
      <div [class]="'ui-toast-' + msg.severity">
        <div [innerHtml]="msg.detail"></div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!--  Confirmation dialog for user actions -->
<p-confirmdialog></p-confirmdialog>

<!-- navigation -->
<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-row">

    <img class="nav-logo" src="LOGO.png" height="50px" routerLink="/" />
    <span class="logo">&nbsp;{{'TOOLBAR.TITLE' | translate}}</span>

    <span class="spacer"></span>
    <button mat-button class="navbar-link">
      {{'TOOLBAR.MY_ORDERS' | translate}}
    </button>

    <button mat-icon-button class="right-button" [matMenuTriggerFor]="profileMenu">
      <mat-icon>flutter_dash</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu">
      <p style="padding: 8px" class="drop-menu-item">{{'TOOLBAR.SIGNED_IN_AS' | translate :{ name: name } }}</p>
      <mat-divider></mat-divider>
      @for (item of menuItems; track $index) {
      <ng-container>
        @if(!item.subMenuItems){
        <button mat-menu-item class="drop-menu-item" [routerLink]="item.link">
          <mat-icon class="drop-menu-icon">{{item.icon}}</mat-icon>
          <span>{{item.text | translate}}</span>
        </button>
        } @else {
        <button mat-menu-item class="drop-menu-item" [matMenuTriggerFor]="submenu">
          <mat-icon class="drop-menu-icon">{{ item.icon }}</mat-icon>
          <span>{{item.text | translate}}</span>
        </button>
        <mat-menu #submenu="matMenu" xPosition="before">
          @for(subItem of item.subMenuItems; track $index){
          <button mat-menu-item class="drop-menu-item" [routerLink]="subItem.link">
            <mat-icon class="drop-menu-icon">{{ subItem.icon }}</mat-icon>
            <span>{{subItem.text | translate}}</span>
          </button>
          }
        </mat-menu>
        }
      </ng-container>
      }

      <mat-divider></mat-divider>
      <button mat-menu-item class="drop-menu-item" (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>{{'TOOLBAR.EXIT' | translate}}</span>
      </button>
    </mat-menu>

    <!-- Button in the toolbar -->
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>

    <!-- Menu with languages -->
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="setLanguage('en')">
        <span>{{ 'LANG.EN' | translate }}</span>
        <span class="spacer"></span>
        <mat-icon *ngIf="langService.current === 'en'">check</mat-icon>
      </button>

      <button mat-menu-item (click)="setLanguage('ru')">
        <span>{{ 'LANG.RU' | translate }}</span>
        <span class="spacer"></span>
        <mat-icon *ngIf="langService.current === 'ru'">check</mat-icon>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!-- main content -->

<main class="main-content">
  <div id="content-wrap">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- footer -->

<mat-toolbar class="footer">
  <p>
    &copy; {{ year | date: "yyyy" }} - {{'APP.AUTHOR' | translate}} -
    <a href="https://starikam.org/" class="main-link" target="_blank">{{'APP.FOUNDATION' | translate}}</a>
  </p>
</mat-toolbar>
