<!--   ToastModule notifications centered on the page -->
 <p-toast position="center">
  <ng-template let-msg pTemplate="message">
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ msg.summary }}</div>
      <div [class]="'ui-toast-' + msg.severity">
        <div [innerHtml]="msg.detail"></div>
      </div>
    </div>
  </ng-template>
</p-toast>

<!--  Confirmation dialog for user actions -->
<p-confirmdialog></p-confirmdialog>

<!-- navigation -->
<mat-toolbar class="toolbar">
  <mat-toolbar-row class="toolbar-row">

    <img class="nav-logo" src="LOGO.png" height="50px" routerLink="/" />
    <span class="logo">&nbsp;Проект "Внуки по переписке: Поздравить открыткой"</span>

    <span class="spacer"></span>
    <button mat-button class="navbar-link">
      Мои заявки
    </button>

    <button mat-icon-button class="right-button" [matMenuTriggerFor]="profileMenu">
      <mat-icon>flutter_dash</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu">
      <p style="padding: 8px" class="drop-menu-item">Вы вошли как {{ name }}</p>
      <mat-divider></mat-divider>
      @for (item of menuItems; track $index) {
      <ng-container>
        @if(!item.subMenuItems){
        <button mat-menu-item class="drop-menu-item" [routerLink]="item.link">
          <mat-icon class="drop-menu-icon">{{item.icon}}</mat-icon>
          <span>{{item.text}}</span>
        </button>
        } @else {
        <button mat-menu-item class="drop-menu-item" [matMenuTriggerFor]="submenu">
          <mat-icon class="drop-menu-icon">{{ item.icon }}</mat-icon>
          <span>{{item.text}}</span>
        </button>
        <mat-menu #submenu="matMenu" xPosition="before">
          @for(subItem of item.subMenuItems; track $index){
          <button mat-menu-item class="drop-menu-item" [routerLink]="subItem.link">
            <mat-icon class="drop-menu-icon">{{ subItem.icon }}</mat-icon>
            <span>{{subItem.text}}</span>
          </button>
          }
        </mat-menu>
        }
      </ng-container>


      }

      <!--       <mat-menu #mainMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
          <button mat-menu-item
                  *ngIf="!item.subMenuItems; else nestedMenu"
                  [routerLink]="item.link">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </button>

          <ng-template #nestedMenu>


              <ng-container *ngFor="let subItem of item.subMenuItems">

              </ng-container>

          </ng-template>
        </ng-container>
      </mat-menu> -->
      <mat-divider></mat-divider>
      <button mat-menu-item class="drop-menu-item" (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Выйти</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!-- main content -->

<main class="main-content">
  <div id="content-wrap">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- footer -->

<mat-toolbar class="footer">
  <p>
    &copy; {{ year | date: "yyyy" }} - OksanaKustova -
    <a href="https://starikam.org/" class="main-link" target="_blank">БФ помощи пожилым людям и инвалидам "Старость
      в радость"</a>
  </p>
</mat-toolbar>
