.logo {
  /* margin-left: 15px;*/
  font-size: 16px;
  /* font-weight: lighter; */
  cursor: pointer;
}

.nav-logo {
  margin-right: 10px;
  cursor: pointer;
}

.navbar-link {
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.right-button {
  margin-right: 40px;
  margin-left: 40px;
}

.toolbar-row {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.519);
}

.toolbar {
  border-bottom: 9px solid #fbc02d;
  position: fixed;
  top: 0;
  height: 80px;
  z-index: 1;
}

.drop-menu-item {
  color: #000000de;
}

.main-content {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background-color: #f9faf4;
}

#content-wrap {
  margin: 110px auto 80px;
  width: 100%;
}

.footer {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 40px;
  letter-spacing: 2px;
  color: #f2f2f2;
  background-color: #66bb6a;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.main-link {
  text-decoration: none;
  color: #f2f2f2;
}

.main-link:hover {
  text-decoration: underline;
  color: #fbc02d;
}
