<mat-grid-list cols="18" gutterSize="16px" rowHeight="76px">
  <mat-grid-tile colspan="11" rowspan="1">
    <h3 mat-dialog-title>{{title}}</h3>
  </mat-grid-tile>
  <mat-dialog-actions>
    <mat-grid-tile colspan="2" rowspan="1">

      @if (data.operation == 'view-edit' && isEditMode) {
      <button mat-icon-button title="Сохранить" [disabled]="mainForm.controls['toponymName'].hasError('required')
        || (mainForm.controls['toponymShortName'].hasError('required') && data.type != 'country')
        || (mainForm.controls['toponymPostName'].hasError('required') && data.type == 'district')
        || (mainForm.controls['toponymShortPostName'].hasError('required') && data.type == 'district')
        || (invalidAddressFilter && data.type != 'country')
        || (!changes && data.operation == 'view-edit')" (click)="onSaveToponymClick('justSave')">
        <mat-icon fontSet="material-icons-outlined">save</mat-icon>
      </button>
      }
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      @if (data.operation == 'view-edit' && !isEditMode) {
      <button mat-icon-button title="Изменить" (click)="onEditClick()">
        <mat-icon fontSet="material-icons-outlined">edit_square</mat-icon>
      </button>
      }
      @if (data.operation == 'view-edit' && isEditMode) {
      <button mat-icon-button title="К просмотру" (click)="onViewClick()">
        <mat-icon fontSet="material-icons-outlined">find_in_page</mat-icon>
      </button>
      }
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <button mat-icon-button title="Закрыть" (click)="onCancelClick($event)">
        <mat-icon fontSet="material-icons-outlined">disabled_by_default</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>
  </mat-dialog-actions>
</mat-grid-list>

<p-confirmdialog />
<p-toast position="center" />
<mat-dialog-content class="full-width">
  <app-address-filter [params]="params" [defaultAddressParams]="data.defaultAddressParams"
    (addressFilter)="onChangeAddressFilter($event)">
  </app-address-filter>
  <form [formGroup]="mainForm" style="margin-top: 16px;"
    [class]="data.operation == 'view-edit' && !isEditMode ? 'view-mode' : 'none'" (change)="onChangeValidation()">
    <mat-grid-list cols="1" gutterSize="16px" rowHeight="76px">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Название</mat-label>
          <input class="full-width" matInput formControlName="toponymName" [placeholder]="data.namePlaceHolder">
          @if (mainForm.controls['toponymName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        @if (data.type != 'country') {
        <mat-form-field class="full-width">
          <mat-label>Краткое название</mat-label>
          <input class="full-width" matInput formControlName="toponymShortName"
            [placeholder]="data.shortNamePlaceHolder">
          @if (mainForm.controls['toponymShortName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
        }

      </mat-grid-tile>

      @if (data.type == 'district') {
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Почтовое название</mat-label>
          <input class="full-width" matInput formControlName="toponymPostName" [placeholder]="data.postNamePlaceHolder">
          @if (mainForm.controls['toponymPostName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field class="full-width">
          <mat-label>Краткое почтовое название</mat-label>
          <input class="full-width" matInput formControlName="toponymShortPostName"
            [placeholder]="data.shortNamePlaceHolder">
          @if (mainForm.controls['toponymShortPostName'].hasError('required')) {
          <mat-error>Поле не может быть пустым!</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      }

    </mat-grid-list>
    <mat-grid-list cols="9" gutterSize="16px" rowHeight="36px">
      @if (data.type == 'locality')
      {
      <mat-grid-tile colspan="6" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="federalCity" (change)="onChangeValidation()">город федерального
            значения</mat-checkbox>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="capitalOfRegion" (change)="onChangeValidation()">столица региона</mat-checkbox>
        </p>
      </mat-grid-tile>

      <mat-grid-tile colspan="3" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="1">
        <p class="full-width">
          <mat-checkbox formControlName="capitalOfDistrict" (change)="onChangeValidation()">административный
            центр</mat-checkbox>
        </p>
      </mat-grid-tile>}
      @else {
      <mat-grid-tile colspan="6" rowspan="1"></mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="1">
      </mat-grid-tile>
      }
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-grid-list cols="9" gutterSize="16px" rowHeight="36px">
  <mat-grid-tile colspan="6" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <mat-dialog-actions>
      @if (data.operation == 'create' || isEditMode){
      <button class="dialog-submit-button" mat-button [disabled]="mainForm.controls['toponymName'].hasError('required')
            || (mainForm.controls['toponymShortName'].hasError('required') && data.type != 'country')
            || (mainForm.controls['toponymPostName'].hasError('required') && data.type == 'district')
            || (mainForm.controls['toponymShortPostName'].hasError('required') && data.type == 'district')
            || (invalidAddressFilter && data.type != 'country')
            || (!changes && data.operation == 'view-edit')" (click)="onSaveToponymClick('saveAndExit')">Сохранить и
        выйти</button>}

    </mat-dialog-actions>
  </mat-grid-tile>
</mat-grid-list>

<br />
