<mat-card class="list-card" appearance="outlined">
  @if(showSpinner()){
  <div class="overlay">
    <p-progress-spinner strokeWidth="6" fill="transparent" animationDuration="1s"
      [style]="{ width: '150px', height: '150px' }" />
  </div>
  }
  <mat-card-header>
    <mat-grid-list cols="24" rowHeight="42px">
      <mat-grid-tile colspan="8" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="8" rowspan="1">
        <mat-card-title>{{toponymProps().title | translate}}</mat-card-title>
      </mat-grid-tile>
      <mat-card-actions>
        <mat-grid-tile colspan="5" rowspan="1">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="bottom-right">
            <button mat-icon-button [title]="'TOPONYM.ADD_TOPONYM' | translate" (click)="onAddToponymClick()"
              appBlurOnClick *hasOp="{codes:['ADD_NEW_TOPONYM'], mode:'all'}">
              <mat-icon fontSet="material-icons-outlined">add_location_alt</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="bottom-right">
            <button mat-icon-button [title]="'TOPONYM.DOWNLOAD_TEMPLATE' | translate" (click)="onFileDownloadClick()"
              *hasOp="{codes:['DOWNLOAD_TEMPLATE_FOR_TOPONYM'], mode:'all'}">
              <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="bottom-right">
            <app-upload-file [typeOfData]="type()" (showSpinner)="showSpinner.set($event);"
              (resetRequested)="resetTable()"
              *hasOp="{codes:['UPLOAD_LIST_OF_TOPONYMS'], mode:'all'}"></app-upload-file>
          </div>
        </mat-grid-tile>
      </mat-card-actions>
    </mat-grid-list>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="6" gutterSize="16px" rowHeight="76px">
      <mat-grid-tile colspan="4" rowspan="1">
        <div class="bottom-left">
          <app-address-filter [params]="params" [defaultAddressParams]="defaultAddressParams"
            (addressFilter)="addressFilter.set($event)" (addressString)="addressString.set($event)"
            (goToFirstPage)="goToFirstPage()">
          </app-address-filter>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="bottom-left">
          <mat-form-field>
            <mat-label>{{'TOPONYM.SEARCH_LABEL' | translate}}</mat-label>
            <mat-icon fontSet="material-icons-outlined" matPrefix>search</mat-icon>
            <input matInput [(ngModel)]="inputValue" (keydown.enter)="searchToponym($event)"
              [placeholder]="toponymProps().searchPlaceHolder">
            @if (inputValue) {
            <button matSuffix mat-icon-button (click)="onClearSearchClick()">
              <mat-icon fontSet="material-icons-outlined">close</mat-icon>
            </button>
            }
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" gutterSize="16px" rowHeight="26px">
      <mat-grid-tile colspan="4" rowspan="1">
        <div class="bottom-left small-text">
          {{'TOPONYM.APPLIED_FILTERS' | translate :{ value: filterString() } }}
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="1">
        <div class="bottom-right-left-align">
          <mat-checkbox [disabled]="!searchValue()" [(ngModel)]="exactMatch">{{'TOPONYM.EXACT_MATCH_HINT' |
            translate}}</mat-checkbox>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOPONYM.COLUMNS.NAME' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="shortName">
          <th mat-header-cell *matHeaderCellDef> {{'TOPONYM.COLUMNS.SHORT_NAME' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.shortName}} </td>
        </ng-container>

        <ng-container matColumnDef="postName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOPONYM.COLUMNS.POST_NAME' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.postName}} </td>
        </ng-container>

        <ng-container matColumnDef="shortPostName">
          <th mat-header-cell *matHeaderCellDef> {{'TOPONYM.COLUMNS.SHORT_POST_NAME' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.shortPostName}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOPONYM.COLUMNS.DISTRICT' | translate}} </th>
          <td mat-cell *matCellDef="let row">{{row.districtName}}</td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOPONYM.COLUMNS.REGION' | translate}} </th>
          <td mat-cell *matCellDef="let row">{{row.regionName}}</td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'TOPONYM.COLUMNS.COUNTRY' | translate}} </th>
          <td mat-cell *matCellDef="let row">{{row.countryName}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{'TOPONYM.COLUMNS.ACTIONS' | translate}} </th>
          <td mat-cell *matCellDef="let row">
            <div class="center">
              <button mat-icon-button [matMenuTriggerFor]="menu" [title]="'TOPONYM.MENU.OPEN_LIST_TITLE' | translate"
                appBlurOnClick *hasOp="{codes:['VIEW_FULL_TOPONYMS_LIST', 'VIEW_LIMITED_TOPONYMS_LIST'], mode:'any'}">
                <mat-icon fontSet="material-icons-outlined">
                  keyboard_double_arrow_down
                </mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="onOpenToponymCardClick(row.id)"
                  *hasOp="{codes:['VIEW_TOPONYM'], mode:'all'}">
                  <mat-icon>open_in_new</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_CARD' | translate}}</span>
                </button>
                <button mat-menu-item (click)="onOpenListClick(row, '/users')"
                  *hasOp="{codes:['VIEW_LIMITED_USERS_LIST', 'VIEW_FULL_USERS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">badge</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_USERS' | translate}}</span>
                </button>
                <button mat-menu-item (click)="onOpenListClick(row, '/volunteers')"
                  *hasOp="{codes:['VIEW_LIMITED_VOLUNTEERS_LIST', 'VIEW_FULL_VOLUNTEERS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">contact_mail</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_VOLUNTEERS' | translate}}</span>
                </button>
                <button mat-menu-item (click)="onOpenListClick(row, '/seniors')"
                  *hasOp="{codes:['VIEW_LIMITED_SENIORS_LIST', 'VIEW_FULL_SENIORS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">elderly_woman</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_SENIORS' | translate}}</span>
                </button>
                <button mat-menu-item (click)="onOpenListClick(row, '/homes')"
                  *hasOp="{codes:['VIEW_LIMITED_HOMES_LIST', 'VIEW_FULL_HOMES_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">house</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_HOMES' | translate}}</span>
                </button>
                @if (!toponymProps().isShowRegion) {
                <button mat-menu-item (click)="onOpenListClick(row, '/regions')"
                  *hasOp="{codes:['VIEW_LIMITED_TOPONYMS_LIST', 'VIEW_FULL_TOPONYMS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">corporate_fare</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_REGIONS' | translate}}</span>
                </button>
                }
                @if (!toponymProps().isShowDistrict) {
                <button mat-menu-item (click)="onOpenListClick(row, '/districts')"
                  *hasOp="{codes:['VIEW_LIMITED_TOPONYMS_LIST', 'VIEW_FULL_TOPONYMS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">home_work</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_DISTRICTS' | translate}}</span>
                </button>
                }
                @if (!toponymProps().isShowLocality) {
                <button mat-menu-item (click)="onOpenListClick(row, '/localities')"
                  *hasOp="{codes:['VIEW_LIMITED_TOPONYMS_LIST', 'VIEW_FULL_TOPONYMS_LIST'], mode:'any'}">
                  <mat-icon fontSet="material-icons-outlined">holiday_village</mat-icon>
                  <span>{{'TOPONYM.MENU.OPEN_LOCALITIES' | translate}}</span>
                </button>
                }

                <button mat-menu-item [matMenuTriggerFor]="causeOfDelete"
                  *hasOp="{codes:['DELETE_TOPONYM', 'BLOCK_TOPONYM'], mode:'all'}">
                  <mat-icon fontSet="material-icons-outlined">delete_outlined</mat-icon>
                  <span>{{'TOPONYM.MENU.DELETE_TOPONYM' | translate}}</span>
                </button>
                <mat-menu #causeOfDelete="matMenu" xPosition="before">
                  <button mat-menu-item
                    (click)="onDeleteToponymClick(row.id, row.shortName ? row.shortName : row.name, true)"
                    *hasOp="{codes:['DELETE_TOPONYM'], mode:'all'}">
                    {{'TOPONYM.MENU.DELETE_REASON_CREATED_BY_MISTAKE' | translate}}</button>
                  <button mat-menu-item
                    (click)="onDeleteToponymClick(row.id, row.shortName ? row.shortName : row.name, false)"
                    *hasOp="{codes:['BLOCK_TOPONYM'], mode:'any'}">
                    {{'TOPONYM.MENU.DELETE_REASON_ABOLISHED_BY_LAW' | translate}}</button>
                </mat-menu>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="toponymProps().displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: toponymProps().displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">{{'TOPONYM.EMPTY.NO_DATA_FOR_QUERY' | translate: {query: filterString()} }}
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="length()" [pageSize]="pageSize"
        (page)="onChangedPage($event)"></mat-paginator>

    </div>

  </mat-card-content>
</mat-card>
