/* You can add global styles to this file, and also import other style files */
/* @import "primeicons/primeicons.css";
 */


@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
}
.small-toggle {
  transform: scale(0.6);
  transform-origin: left center;
}
/* :host ::ng-deep .small-toggle .mdc-switch {
  transform: scale(0.6);
  transform-origin: left center;
} */

