<h2 mat-dialog-title>{{'USER.BLOCKING_TITLE' | translate}}</h2>

<mat-dialog-content class="full-width">
  <form>
    <mat-form-field class="full-width">
      <mat-label>{{'USER.FULL_CAUSE_OF_BLOCK_LABEL' | translate}}</mat-label>
      <textarea rows="10" matInput [formControl]="causeOfBlocking"></textarea>
      @if (causeOfBlocking.hasError('zodError')) {
      <mat-error>{{causeOfBlocking.errors!['zodError'] | translate}}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="dialog-cancel-button"  (click)="onCancelClick()">{{'USER.CANCEL_BUTTON' |
    translate}}</button>
  <button mat-button class="dialog-submit-button" [disabled]="causeOfBlocking.hasError('zodError')"
    (click)="onBlockUserClick()">{{'USER.BLOCK_BUTTON' | translate}}</button>
</mat-dialog-actions>
