<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
@if(params()?.isRecoverable){
  <button mat-menu-item (click)="handleRestore()">
    <mat-icon>restore</mat-icon>
    <span>{{'OUTDATED_DATA_MENU.RESTORE_DATA' | translate}}</span>
  </button>
}

  <button mat-menu-item (click)="handleDelete()">
    <mat-icon>delete_outlined</mat-icon>
    <span>{{'OUTDATED_DATA_MENU.DELETE_DATA' | translate}}</span>
  </button>
</mat-menu>
